https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-calld-client/archive/master.zip
fastapi==0.65.1
pydantic==1.7.4
pyyaml==5.3.1
requests==2.21.0
starlette==0.14.2
uvicorn==0.13.3
httptools==0.1.1
uvloop==0.17.0
aiofiles==23.1.0
aiohttp==3.8.4
websockets==10.4
